{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		{{ function('wp_body_open') }}
	 	<div id="appSingleGuide" ></div>
		{{ function('wp_footer') }}
	</body>
</html>
