.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}


.website-title-logo{
    font-size: 24px;
}

body{
    margin: 0;
}

.content-wrapper{
    display: flex;
    max-width: 1140px;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 15px;
}